apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: mariadb-pvc
    namespace: the-tip-top-api
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 2Gi
