apiVersion: v1
kind: Service
metadata:
    name: mariadb
    namespace: the-tip-top-api
spec:
    type: ClusterIP
    selector:
        app: mariadb
    ports:
        - port: 3306
          targetPort: 3306
