apiVersion: v1
kind: ConfigMap
metadata:
    name: phpmyadmin-config
    namespace: the-tip-top-api
data:
    config.user.inc.php: |
        <?php
        // Force phpMyAdmin à fonctionner en HTTPS derrière un reverse proxy
        $cfg['ForceSSL'] = true;
        $cfg['PmaAbsoluteUri'] = 'https://pma.the-tip-top.jonathanlore.fr/';

        // Indique à phpMyAdmin que la requête vient en HTTPS même si elle arrive en HTTP dans le pod
        $cfg['ReverseProxyHeader'] = 'X-Forwarded-Proto';

        // Correctifs cookies Chrome
        $cfg['CookieSameSite'] = 'None';
        $cfg['CookieSecure'] = true;
