apiVersion: v1
kind: ConfigMap
metadata:
    name: phpmyadmin-config
    namespace: the-tip-top-api
data:
    config.user.inc.php: |
        <?php
        // Force phpMyAdmin à fonctionner en HTTPS derrière un reverse proxy
        $cfg['ForceSSL'] = true;
        $cfg['PmaAbsoluteUri'] = 'https://pma.the-tip-top.jonathanlore.fr/';

        // phpMyAdmin doit faire confiance au reverse proxy
        $cfg['ReverseProxy'] = true;

        // Configuration SSL pour la connexion à MariaDB
        $cfg['Servers'][1]['ssl'] = true;
        $cfg['Servers'][1]['ssl_verify'] = false;
        $cfg['Servers'][1]['ssl_key'] = null;
        $cfg['Servers'][1]['ssl_cert'] = null;
        $cfg['Servers'][1]['ssl_ca'] = null;

        // Correctifs cookies Chrome
        $cfg['CookieSameSite'] = 'Lax';
        $cfg['CookieSecure'] = true;
        $cfg['CookieHttpOnly'] = true;
