apiVersion: v1
kind: ConfigMap
metadata:
    name: phpmyadmin-config
    namespace: the-tip-top-api
data:
    config.user.inc.php: |
        <?php
        // Force HTTPS
        $_SERVER['HTTPS'] = 'on';
        $_SERVER['HTTP_SCHEME'] = 'https';

        // Configuration des cookies - SameSite=Lax pour Chrome
        ini_set('session.cookie_samesite', 'Lax');
        ini_set('session.cookie_secure', '1');
        ini_set('session.cookie_httponly', '1');
